---
import Card from '@ui/Card.astro'
import Section from '@components/ui/Section.astro'
import Subtitle from '@components/ui/Subtitle.astro'

import { Projects } from 'src/utils/data'
---

<Section id="proyectos" className="flex flex-col gap-6 text-white">
  <!-- Acá agregue el mt a 32, estaba en 10 o 20, creo 10 -->
  <Subtitle className="mt-5 sm:mt-10">Proyectos</Subtitle>
  <div class="flex flex-col gap-6 sm:grid sm:grid-cols-2">
    {
      Projects.map((item) => {
        return (
          <Card
            className=""
            title={item.title}
            stack={item.stack}
            description={item.description}
            url={item.url}
            repo={item.repo}
          />
        )
      })
    }
  </div>
</Section>
