---
import Card from '@ui/Card.astro'
import Section from '@components/ui/Section.astro'
import Subtitle from '@components/ui/Subtitle.astro'

import { Projects } from 'src/utils/data'
---

<Section id="proyectos" className="gap-6">
  <Subtitle className="mt-0">Proyectos</Subtitle>
  <div class="flex flex-col gap-6 sm:grid sm:grid-cols-2">
    {
      Projects.map((item) => {
        return (
          <Card
            className=""
            title={item.title}
            stack={item.stack}
            description={item.description}
            thumnail={item.thumnail}
            url={item.url}
            repo={item.repo}
          />
        )
      })
    }
  </div>
</Section>
