---
import ExternalLink from '@components/ui/ExternalLink.astro'
import Github from '@components/icons/Github.astro'
import LogosLink from '@components/ui/LogosLink.astro'
import Tag from '@components/ui/Tag.astro'
import ArrowIcon from '@components/icons/ArrowIcon.astro'

type Props = {
  title: string
  description: string
  url: string
  thumnail: string
  repo: string
  stack: Array<{ name: string; color: string }>
  className?: string
}

const { title, thumnail, description, stack, url, repo, className } = Astro.props
---

<article
  class={`bg-navigation flex flex-col gap-2  py-4 px-3 text-gray-400 rounded overflow-hidden shadow-md ${className}`}
>
  <header class="flex justify-between">
    <ExternalLink
      url={url}
      className="text-white duration-200  font-semibold hover:text-main active:text-rose-600"
    >
      {title}
      <ArrowIcon />
    </ExternalLink>
    <LogosLink url={repo}>
      <Github
        width="20"
        height="20"
        seoTitle="Repository"
        classNames="fill-gray-400 hover:fill-main transition"
      />
    </LogosLink>
  </header>
  <div>
    <video src={thumnail} loop class="-z-10 object-center object-cover h-full w-full"
    autoplay
    muted />
  </div>
  <p class="text-sm mb-2">{description}</p>
  <footer class="flex gap-1 sm:gap-2">
    {
      stack.map((item) => {
        return <Tag className={`${item.color}`}>{item.name}</Tag>
      })
    }
  </footer>
</article>
